/* ----- */
/* Fonts */
/* ----- */
@import url('https://fonts.googleapis.com/css?family=Open+sans:400,700,400i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Yellowtail');



/* --------- */
/* Variables */
/* --------- */
$base: #2b3a42;
$base-text: #dedede;
$highlight: #2e4a3b;
$alt: #313348;
$text-normal: 14px;
$text-large: 1.4em;
$text-xlarge: 2em;
$text-small:0.8em;

$base_padding: 1.5em;


/* ----------- */
/* Base Styles */
/* ----------- */
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: $base-text;
	background: $base;
}

a {
	color: $alt;
}

.heading {
	font-size: $text-xlarge;
	text-align: center;

	&--sub {
		text-align: left;
		font-size: $text-large;
	}
}

.header {
    padding: $base_padding;
    text-shadow: 0 1px 1px rgba(#000, 0.5);
    text-align: center;

    h2 {
    	font-size: 34px;
    	font-weight: 700;
    }

    p {
    	font-size: 18Px;
    }

    img {
        -webkit-animation: spin 4s infinite linear;
    }

    .button {
    	min-width: 100px;
    	text-align: center;
    	color: #dedede;

    }

    &__hero {
    	padding: 4em 2em;
    	max-width: 40%;
    	margin: 10% auto 2%;
    	border: 3px dashed #eee;
    	border-radius: 15px;

    }

    &__block {
    	
    }
}

.page {
	max-width: 1200px;
	margin: 2em auto 4em;
	padding: 0 2em;
}

.footer {
	background: lighten($base, 10%);
    text-shadow: 0 1px 1px rgba(#000, 0.5);
    text-align: center;
    padding: 20px;
}

.quote {
	font-family: 'Amatic SC', cursive;
	font-size: $text-large;
}

.quote-author {
	font-family: 'Yellowtail', cursive;
	font-size: $text-large;
}

/* -------- */
/* Elements */
/* -------- */
.button {
	padding: 0.8em;
	font-size: $text-large;
	background-color: lighten($highlight, 10%);
	transition: background-color 0.5s;
	border: darker($highlight, 50%);
	display: inline-block;
	margin: 2em 0.5em;
	cursor: pointer;

	&:hover {
		background-color: lighten($highlight, 20%);
	}
}


/* ----------- */
/* Animations */
/* --------- */

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

/* -------------- */
/* Media Queries */
/* ------------ */

@media 