@import url('https://fonts.googleapis.com/css?family=Open+sans:400,700');
$bluegrey: #2b3a42;


body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.header {
    padding: 20px;
    background: $bluegrey no-repeat center center / 32px 32px;
    color: #dedede;
    text-shadow: 0 1px 1px rgba(#000, 0.5);
    text-align: center;

    h2 {
    	font-size: 34px;
    	font-weight: 700;
    }

    p {
    	font-size: 18Px;
    }

    img {
        -webkit-animation: spin 4s infinite linear;
    }
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}